.sign-up-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sign-up-container{
    /* background: red; */
    width: 100%;
    height: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-errors-container{
    /* background: blue; */
    width: 336px;
    height: 240px;
    position: absolute;
    display: flex;
    top: 55px;
    flex-direction: column-reverse;
}

.sign-up-wrapper{
    /* background: violet; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: -208px;
}

.breadcrumb-container{
    /* background: green; */
    margin: 11px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.breadcrumb-step{
    /* background: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.breadcrumb-spacer{
    background: rgb(139, 134, 134);
    width: 1px;
    height: 70px;
    margin: 5px 27.5px 0px 0px;
    border: none;
    float: right;
}

.breadcrumb-circle{
    background-color: transparent;
    border: solid 2px rgb(37, 106, 233);
    width: 34px;
    height: 34px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(37, 106, 233);
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
}

.breadcrumb-circle:hover{
    cursor: pointer;
}

.breadcrumb-text{
    width: 100px;
    color: rgb(139, 134, 134);
    text-align: right;
    font-size: 12px;
    margin: 0px 10px 0px 0px
}

.spacer{
    height: 15px;
    margin: 0px 15px;
}

.input-label{
    /* background: red; */
    color:  rgb(39, 36, 36);/*rgb(37, 106, 233);*/
    text-align: left;
    font-size: 12px;
    padding: 0px;
    margin: 0px 15px 0px 15px;
}




