.input-wrapper{
    height: auto;
    margin: 5px 15px;
    display: flex;
    flex-direction: column;
}

.input{
    background: transparent;
    padding: 10px;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px gray;
    font-size: 14px;
    font-weight: 400;
}

.input-error-message{
    font-weight: 600;
    font-size: 12px;
    color:rgb(233, 37, 47);
    border-radius: 0;
}

.input-error, .input:invalid{
    background: transparent;
    padding: 10px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border-bottom: solid 2px rgb(233, 37, 47);
    border-radius: 0;
}