.input-wrapper{
    height: auto;
    margin: 5px 15px;
    display: flex;
    flex-direction: column;
}

.input{
    background: transparent;
    padding: 10px;
    border: none;
    border-bottom: solid 1px gray;
    font-size: 14px;
    font-weight: 400;
}

.input-error{
    background: transparent;
    padding: 10px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    border-bottom: solid 2px rgb(233, 37, 47)
}