.dash-page{
    width: 100%;
    min-height: 100%;
    display: flex;
}

.dash-board-container{
    /* background: red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
} 

.search-bar{
    background: green;
    width: 100%;
    height: 100px;
    margin: 0px 0px 10px 0px;
}

.dash-panels-container-1{
    /* background: blue; */
    width: 100%;
    height: auto;
    margin: 0px 0px 10px 0px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: 200px;
}

.dash-panels-container-2{
    /* background: blue; */
    width: 100%;
    height: auto;
    margin: 0px 0px 10px 0px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 400px; 
}

.dash-panels-container-3{
    /* background: blue; */
    width: 100%;
    height: auto;
    margin: 0px 0px 10px 0px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 175px; 
}

.panel-container{
    background: #ffffff;
}